.main__pages {
    display: grid;
    grid-template-columns: 50% 50%;
    .main__subtitle {
        font-size: 30px;
        ul {
            margin: 10px 0 15px 0;
            font-size: 18px;
        }
    }
} 