.main {
    .main__wrapper {
        .main__wrapper-inner {
             .multipages{
                padding: 3%;
                height: 100%;
                display: grid;
                grid-template-columns: 7% 5% 2fr 1fr;
                grid-template-rows: 15% 1fr;
                grid-template-areas: 
                    "slideOfObject slideOfFlat typePanel timePanel"
                    "slideOfObject slideOfFlat informPanel informPanel";
                grid-gap: 2%;
                    .slideOfObject,
                    .slideOfFlat,
                    .typePanel,
                    .timePanel,
                    .informPanel {
                        border-radius: 8px;
                        border: var(--color--border);
                        padding: 5px;
                        background-position: center !important;
                        background-size: cover !important;       
                    }
                    .slideOfObject {
                        background-color: rgba(69, 73, 72, 0.377);          
                        grid-area: slideOfObject;
                        display: grid;
                        grid-template-rows: repeat(4, 1fr);
                        grid-template-areas: 
                        "one"
                        "two"
                        "three"
                        "four";
                        grid-gap: 2%;
                        .one,
                        .two,
                        .three,
                        .four {                            
                            background-position: center !important;
                            background-size: contain !important;
                            transform: scale(0.85, 0.85); 
                            transition: all .3s;
                            cursor: pointer;
                            &:hover {
                                transform: scale(1, 1);
                                box-shadow: 0px 12px 10px 0px rgb(0, 0, 0);
                            } 
                        }
                        .one {
                            grid-area: one;                                               
                            background: url('/src/img/page1Main/ASCAPC.png') no-repeat;   
                        }
                        .two {
                            grid-area: two;
                            background: url('/src/img/page1Main/automation.png') no-repeat; 
                        }
                        .three {
                            grid-area: three;
                            background: url('/src/img/page1Main/pump.png') no-repeat; 
                        }
                        .four {
                            grid-area: four;
                            background: url('/src/img/page1Main/dispatch.png') no-repeat; 
                        }                
                    }
                    .slideOfFlat {
                        grid-area: slideOfFlat;
                        height: 75%;
                        align-self: center;
                        position: relative;
                        ul {                                                  
                            li {
                                display: flex;
                                justify-content: center;
                                transition: all .5s;
                                cursor: pointer; 
                                &:hover {
                                    transform: scale(1.5, 1.5);
                                }
                            }
                        }
                        .slideOfFlat-up {
                            position: absolute;
                            top: -15%;
                            right: 15%;
                        }
                        .slideOfFlat-down {
                            position: absolute;
                            bottom: -15%;
                            right: 15%;
                        }
                    }
                    .typePanel {
                        grid-area: typePanel;
                    }
                    .timePanel{
                        grid-area: timePanel;
                    }
                    .informPanel {
                        grid-area: informPanel;
                    }
            }
        }
    }
}

.test {
    background: url('/src/img/down.png') no-repeat;
    background: url('/src/img/up.png') no-repeat;
}