.wrapper {
    background: url('/src/img/bgLogIn.png') no-repeat; 
    background-position: center !important;
    background-size: cover !important; 
}
.container {
    width: 1120px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;  
}
.header,
.main {
    margin-bottom: 100px;
}
//Header
.menu__wrapper {
    background-color: #f8f8f8;
    height: 100px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    align-items: center; 
    border-radius: 8px;
    line-height: 1.2;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;    
    img {
        width: 65%;
        border-radius: 8px;     
    }
}
.menu ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    li {
        cursor: pointer;        
        display: grid;
        justify-content: center;
        transition: all 0.3s ease 0s;
        &:hover {
            color:rgb(134, 34, 34);
            font-weight: 700;
        }
    }
}
.menu__userStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 20%;
    }
}
// Main
.main {
    width: 100%;
}
.main__wrapper {
    height: 438px;
    background-color: #4f96c5;
    border-radius: 8px;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.main__wrapper-inner {
    height: 100%;
}
.main__slide {
    padding: 3%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "city typeOfWork typeOfWork"
        "location weather notation";
    grid-gap: 2%;
        .main__city,
        .main__location,
        .main__typesOfWork,
        .main__weather,
        .main__notation {
            display: grid;
            place-items: center;
            border-radius: 8px;
            border: 3px solid #ffffff;
            padding: 25px;
            background-position: center !important;
            background-size: cover !important;
            p {
                border: 8px solid #3a8ac067;
                background: #3a8ac067;
                border-radius: 5px;
            }             
        }
        .main__city {          
            grid-area: city;
            background: url('/src/img/mainBackground/bgCity.jpg') no-repeat;                  
        }
        .main__location {
            grid-area: location;
        }
        .main__typesOfWork {
            grid-area: typeOfWork;
            background: url('/src/img/mainBackground/works.jpg') no-repeat;
        }
        .main__weather {
            grid-area: weather;
            background: url('/src/img/mainBackground/bgCity.jpg') no-repeat;
            li {
                color: #fff;
            }
        }
        .main__notation {
            background: url('/src/img/mainBackground/notation.jpg') no-repeat;
            grid-area: notation;
        }
}

.multipages {
    background-image: url('/src/img/backgroundPage.png');
}

#prev,
#next {
    bottom: 50%;
    transform: translate(0%, 50%);
    height: 45px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
    position: absolute;
    &:hover {
        animation-duration: 3s;
        animation-name: arrows;
        animation-iteration-count: infinite;
    }    
}
#prev {    
    left: 0%;
    &:hover {
        left: -.5%;
    } 
}
#next {
    right: -.9%;
    &:hover {
        right: -1.4%;
    } 
}
//footer
footer {
    .footer {
        background-color: #ceae2194;
        color: #fefefe;
        height: 100px; 
        margin-bottom: 25px;  
        .theme {
            height: 50%;          
            margin-right: 10%;
            position: relative;
            span {
                .sun {
                    position: absolute;
                    top: 0.6rem;
                    right: 0.6rem;
                    z-index: 1;
                }
                .moon {
                    position: absolute;
                    top: 0.6rem;
                    left: 0.6rem;
                    z-index: 1;
                }
                img {
                    max-width: 30%;
                }                
            }
            input {
                opacity: 1;
                width: 0;
                height: 0;
                &:checked + .move {
                    background-color: #204d8d;
                }
                &:checked + .move::before {
                    transform: translateX(3.1rem);
                }
            }
            .move {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #f3f3f3;
                border-radius: 3rem;
                transition: 0.3s;
                cursor: pointer;
                &::before {
                    position: absolute;
                    content: "";
                    background: #fff;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 1.5rem;
                    top: 0;
                    bottom: 0;
                    left: 0.12rem;
                    box-shadow: 0 .2rem .5rem #000;
                    transition: 0.3s;
                    z-index: 2;
                }
            }           
        }
    }
}
// .login-form {
section {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 450px;
    border-radius: 20px;
    background: url('/src/img/bgLogIn.png') no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);      
    transition: all .8s ease 0s; 
    .form-box {
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;        
        form {
            .section__clouse {
                position: absolute;
                top: 5%;
                right: 5%;
                color: #fff;
            }
            h2 {
                font-size: 2em;
                color: #fff;
                text-align: center;
                margin-bottom: 10px;
            }
            .inputbox {
                position: relative;
                width: 310px;
                margin: 30px 0;
                border-bottom: 2px solid #fff;

                label {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    color: #fff;
                    font-size: 1em;
                    pointer-events: none;
                }
                input {
                    width: 100%;
                    height: 50px;
                    background: transparent;
                    border: nane;
                    outline: none;
                    font-size: 1em;
                    padding: 0 35px 0 5px;
                    color: #fff;
                    &:focus,
                    &:valid {
                        ~ label {
                            top: -5px;
                        }
                    }                                       
                }
                img {
                    position: absolute;
                    right: 8px;
                    height: 20px;
                    top: 20px;
                }
            }
            .forget {
                margin: -15px 0 15px;
                font-size: .9em;
                color: #fff;
                display: flex;
                justify-content: center;
                label {
                    input {
                        margin-right: 3px;
                    }
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
            position: relative;            
            &:hover {
                top: -2px;
                box-shadow: 0px 4px 4px 2px #000;
                transition: .1s;
            }
            &:active {
                top: 0;
                box-shadow: none;
            }
        }
        .register {
            font-size: .9em;
            color: #fff;
            text-align: center;
            margin: 25px 0 10px;
            p {
                a {
                    color: #fff;
                    font-weight: 600;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.inputbox-contacts {
    position: relative;
    width: 310px;
    margin: 10px 0;
    border-bottom: 2px solid #fff;
}
ol {
    counter-reset: my-counter;
    list-style: none;
    li {
        margin-bottom: 8px;
        counter-increment: my-counter;
        &:before {
            content: counter(my-counter) ". ";
        }
    }
}

ul {
    color: grey;
    font-size: 1.3em;
    li {
        font-size: 0.9em;
        color: #000;
        padding-top: 8px;
        a {
            transition: all 0.3s;
            &:hover {
                color:rgb(134, 34, 34);
            }
        }
    }
}
.open {
    opacity: 1;
    visibility: visible;    
}
.scroll {
    overflow: hidden;
}